.header{
    top: 0;
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__logo{
    width: 100px;
    margin: 18px 20px 0 20px;
    object-fit: contain;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__search{
    display: flex;
    flex: 1;
}

.header__searchInput{
    height: 12px;
    padding: 11.3px;
    width: 100%;
    border: none;
}

.header__searchIcon{
    padding: 2px;
    height: 22.5px !important;
    background-color: #cd9042;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin: 0 10px;
}

.header__optionOne{
    font-size: 10px;
}



.header__optionTwo{
    font-size: 13px;
    font-weight: 800;
}

